<section class="ui form segment">
  <form action="/post/edit" method="POST">
    <div class="field">
      <label>Title</label>
      <input id="title" name="title" type="text" value="<%- post.title %>"/>
    </div>
    <div class="field">
      <label>Author</label>
      <input name="author" type="text" value="<%- post.author %>"/>
    </div>
    <div class="field">
      <label>Post body</label>
      <textarea name="body" cols="30" rows="10"><%- post.body %></textarea>
    </div>
    <input type="hidden" name="_id" value="<%- post.id %>"/>
    <input type="submit" class="ui blue submit button"/>
  </form>
</section>
