<link rel="stylesheet" href="/styles/homepage.css"/>
<h1>@huncoder blog prototype.</h1>
<h3 class="subtitle">You can find this page by tags: JavaScript, Sailsjs, Angular, huncoder</h3>

<section class="content">
  <div class="controllers">
    <div class="api">
      <h4 class="development">Comments controller</h4>
      <p>
        Controller of commenting system:
      <ul class="features">
        <li>No registration needed</li>
        <li>Tree structure</li>
        <li>Live reload support</li>
      </ul>
      </p>
    </div>
  </div>
</section>
