<!DOCTYPE html>
<html>
<head>
  <title>Huncode.com sails blog prototype.</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/libs/semantic/build/packaged/css/semantic.min.css"/>
  <!--STYLES-->
    <link rel="stylesheet" href="/styles/homepage.css">
    <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->

</head>
<body class="ui">

<%- body %>


<script src="//yastatic.net/jquery/1.8.3/jquery.min.js"></script>
<script src="/libs/semantic/build/packaged/javascript/semantic.min.js"></script>
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<!--SCRIPTS END-->
</body>
</html>
